<%- include('partials/header.ejs')%>

<main class="container">
  <%- include('partials/heading.ejs')%> <% for(let i = 0; i <
  locals.posts.length; i++) { %>
  <div class="post" id="<%=posts[i].id%>">
    <h2 class="heading-secondary"><%=posts[i].title%></h2>
    <p class="post-text"><%=posts[i].text%></p>
    <div class="post-footer">
      <p class="author">Author: <%=posts[i].author%></p>

      <% if(loggedIn?.userName == posts[i].author){ %>
      <div class="post-buttons">
        <button class="btn btn-edit">Edit</button>
        <button class="btn btn-delete">Delete</button>
      </div>
      <% } %>
    </div>
  </div>
  <% } %>
</main>
<% if(loggedIn?.userName){ %>
<div class="add-new-post">
  <button class="btn btn-add" id="add-new-post">
    <a class="btn-link" href="/add">ADD NEW POST</a>
  </button>
</div>
<% } %> <%- include('partials/footer.ejs')%>
